{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grocery_web</title>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <script src="{% static 'main.js' %}" type="text/javascript"></script>  

</head>
<body>
<header> 

    <div class="header-1">
        <a href="#" class="logo"> <i class="fa fa-shopping-basket"></i>groco </a>
        <form action="" class="search-box-container">
            <input type="text" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>

    <div class="header-2">

        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#category">category</a>
            <a href="#products">products</a>
            <a href="#deals">deals</a>
            <a href="#contact">contact</a>           
        </nav>

        <div class="icons">
            <a href="" class="fas fa-shopping-cart"></a>
            <a href="" class="fas fa-heart"></a>
            <a href="" class="fas fa-user-circle"></a>
        </div>
    </div>
</header>


<section class="home" id="home">
    <div class="image">
        <img src="{% static 'images/home-img.png' %}" alt="">
    </div>
    
    <div class="content">
        <span>fresh and organic</span>
        <h3>your daily needs products</h3>
        <a href="#" class="btn">get started</a>
    </div>
</section>


<section class="banner-container">
    <div class="banner">
        <img src="{% static 'images/banner-1.jpg' %}" alt="">
        <div class="content">
            <h3>special offer</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">check out</a>
        </div>
    </div>

    <div class="banner">
        <img src="{% static 'images/banner-2.jpg' %}" alt="">
        <div class="content">
            <h3>limited offer</h3>
            <p>upto 50% off</p>
            <a href="#" class="btn">check out</a>
        </div>
    </div>
</section>

<section class="category" id="category">
    <h1 class="heading"> shop by <span>category</span> </h1>
    <div class="box-container">

        {% for feature in features %}
        <div class="box">
            <h3>{{feature.name}}</h3>
            <p>{{feature.desc}}</p>
            <img src="{% static 'images/category-1.png' %}" alt="">
            <a href="#" class="btn">shop now</a>
        </div>
        {% endfor %}

    </div>
</section>

<section class="products" id="products">
    <h2 class="heading">latest <span>products</span></h2>
    <div class="box-container">

        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-1.png' %}" alt="">
            <h3>organic banana</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-2.png' %}" alt="">
            <h3>organic tomato</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-3.png' %}" alt="">
            <h3>organic orange</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-4.png' %}" alt="">
            <h3>milk</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-5.png' %}" alt="">
            <h3>organic ovacado</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-6.png' %}" alt="">
            <h3>organic coconuts</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-7.png' %}" alt="">
            <h3>organic apple</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>


        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-8.png' %}" alt="">
            <h3>organic mango</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>



        <div class="box">
            <span class="discount">-33%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="{% static 'images/product-9.png' %}" alt="">
            <h3>organic carrot</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>            
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">$10.99 <span>$14.99</span></div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">
                <span> /kg </span>
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>

    </div>    
</section>


<section class="deal" id="deal">
    <div class="content">

        <h3 class="title">deal of the day</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur facilis sapiente esse laboriosam minus mollitia quaerat deserunt reiciendis, voluptate consectetur rem explicabo? Corporis excepturi similique odit consequatur dolore quam.</p>

        <div class="count-down">
            <div class="box">
                <h3 id="day">00</h3>
                <span>day</span>
            </div>

            <div class="box">
                <h3 id="hour">00</h3>
                <span>hour</span>
            </div>

            <div class="box">
                <h3 id="minute">00</h3>
                <span>minute</span>
            </div>

            <div class="box">
                <h3 id="second">00</h3>
                <span>second</span>
            </div>
        </div>

        <a href="#" class="btn">check the deal</a>

    </div>

</section>



<section class="contact" id="contact">
    <h1 class="heading"><span>contact</span> us</h1>

    <form action="">

        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>

        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>

        <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" class="btn" value="send message">
    </form>

</section>


<section class="newsletter">
    <h3>subscribe us for the latest updates</h3>

    <form action="">
        <input type="email" placeholder="enter your email" class="box">
        <input type="submit" value="subscribe" class="btn">
    </form>

</section>


<section class="footer">
    <div class="box-container">
        
        <div class="box">
            <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i>groco </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus commodi eos maiores doloribus quibusdam ullam quisquam nihil labore dolor similique explicabo aspernatur natus laborum, neque adipisci. Fugiat numquam corrupti tempora.</p>           
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
            </div>
        </div>

        <div class="box">
            <h3>our locations</h3>
            <div class="links">
                <a href="#">kenya</a>
                <a href="#">tanzania</a>
                <a href="#">USA</a>
                <a href="#">kenya</a>
                <a href="#">South africaa</a>
            </div>
        </div>

    </div>
</section>

</body>
</html>